# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# Data and Models
data/
*.h5
*.pth
*.pt
*.keras
*.h5
*.hdf5

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
